body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 160px;
    border-bottom: 1px solid #b5b5b5;
    background-color: white;
}

.logo img {
    width: 65.4px;
    height: 22.872px;
}

.search-field {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    width: 372px;
    height: 56px;
    box-sizing: border-box;
}

.search-field img {
    width: 24px;
    height: 24px;
}

.search-field p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #656565;
    opacity: 0.5;
}

.navigation {
    display: flex;
    gap: 52px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.navigation p {
    margin: 0;
    opacity: 0.3;
}

.icons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.icons img {
    width: 32px;
    height: 32px;
}